
<div class="container" >
  <% @books.each_slice(3)  do |books| %>
    <div class="row">
    <% books.each  do |book| %>
      <div class="col-sm-3 col-lg-3" id="row-img">
  <%= image_tag(book.image, :class => "image-responsive") %>
        <h3><%= book.title %></h3>
        <h3><%= book.author %></h3>
        <p> <%= book.publisher %></p>
        <p> <%= book.genre %></p>
        <br><br>
        <div id="img-btns">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bsicExampleModal" style="margin-bottom:30px;">
        Details
      </button>
      

      <!-- Modal -->
      <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" id="mh">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>Sorry, You cant look at this</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


        </div>

      </div>
    <% end %>
    </div>
  <% end %>
</div>
