<div class="container">
<center>
<%= image_tag(@review.book.image, :class => "image-responsive") %>
<br>

<h2>  <%= @review.book.title %></h2>

<br>
<br>
<h3> <%= @review.book.author%></h3>
<br>
<br>
 <%= @review.rating.times do  %>
    <span class="glyphicon glyphicon-star star-color"></span>
    <% end %>

<br><br>

<h4 id=""><%= @review.comment %></h6>
</center>
</div>
